body {
	// Use Serif for long text
	font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
	
	// Use Sans serif for non-long text
	h1, h2, h3, h4, h5, h6 {
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	}
	
	// Set vertical rhythm
	// - from http://lamb.cc/typograph/ 
	font-size: 100%;
	line-height: 1.25;
	
	
	// Headings
	// -----------------------------------------------
	
	
	// Headings don't differ by size but by decoration
	// - vertical rhythm is maintained by padding
	h1, h2, h3, h4, h5, h6 {
		font-size: 2em;
		padding: 1.25em 0;
		
		margin-top: 0; 
		margin-bottom: 0;
	}
	// Lower headings are like body text but upper cased
	h4, h5, h6 {
		font-size: 1em;
		// small caps is not enough to distinguish header from body text
		// font-variant: small-caps;
		text-transform: uppercase;
	}
	
	h1, h4 {
		font-weight: bold;
	}
	
	h2, h5 {
		font-weight: bold;
		font-style: italic;
	}
	
	h3, h6 {
		font-style: italic;
	}
	
	
	
	// Block level elements
	// -----------------------------------------------
	
	
	// the second <p> has a top margin
	p + p {
		margin-top: $pad;
	}
	
	// blockquote is simply indented
	q, blockquote {
		margin: $pad;
		border-left: 1px dotted;
		padding-left: $pad;
		font-style: italic;
	}
	
	// address is small caps
	address {
		font-variant: small-caps;
	}
	
	
	// Lists
	// -----------------------------------------------
	
	ul, menu, dir, ol {
		margin: $pad;
		list-style-type: square;
	}
	
	ol {
		list-style-type: decimal;
	}
	
	dl {
		margin: $pad 0;
		
		dt {
			font-weight: bold;
		}
		dd {
			margin-left: $pad;
		}
	}
	
	

	.container {
		width: 50%;
		margin: 0 auto;
	}

}