/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> 
 */
/* line 17, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-1.8.7-p370/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/typography.scss */
body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
/* line 6, ../sass/typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 22, ../sass/typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-size: 2em;
  padding: 1.25em 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 30, ../sass/typography.scss */
body h4, body h5, body h6 {
  font-size: 1em;
  text-transform: uppercase;
}
/* line 37, ../sass/typography.scss */
body h1, body h4 {
  font-weight: bold;
}
/* line 41, ../sass/typography.scss */
body h2, body h5 {
  font-weight: bold;
  font-style: italic;
}
/* line 46, ../sass/typography.scss */
body h3, body h6 {
  font-style: italic;
}
/* line 57, ../sass/typography.scss */
body p + p {
  margin-top: 1.25em;
}
/* line 62, ../sass/typography.scss */
body q, body blockquote {
  margin: 1.25em;
  border-left: 1px dotted;
  padding-left: 1.25em;
  font-style: italic;
}
/* line 70, ../sass/typography.scss */
body address {
  font-variant: small-caps;
}
/* line 78, ../sass/typography.scss */
body ul, body menu, body dir, body ol {
  margin: 1.25em;
  list-style-type: square;
}
/* line 83, ../sass/typography.scss */
body ol {
  list-style-type: decimal;
}
/* line 87, ../sass/typography.scss */
body dl {
  margin: 1.25em 0;
}
/* line 90, ../sass/typography.scss */
body dl dt {
  font-weight: bold;
}
/* line 93, ../sass/typography.scss */
body dl dd {
  margin-left: 1.25em;
}
/* line 100, ../sass/typography.scss */
body .container {
  width: 50%;
  margin: 0 auto;
}
