/* line 1, ../sass/typography.scss */
body {
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  font-size: 100%;
  line-height: 1.25;
}
/* line 6, ../sass/typography.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 16, ../sass/typography.scss */
body .container {
  width: 98%;
  margin: 0 auto;
}
